<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>511851975130-tnisea1kirotgqtjibte7d1q3is7gqmj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.511851975130-tnisea1kirotgqtjibte7d1q3is7gqmj</string>
	<key>API_KEY</key>
	<string>AIzaSyC7hY9xjCrxJcaPxv81VKBk3rs3ggTK808</string>
	<key>GCM_SENDER_ID</key>
	<string>511851975130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodnote.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>foodnote-4e3c3</string>
	<key>STORAGE_BUCKET</key>
	<string>foodnote-4e3c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511851975130:ios:376d5de583b268ca4430e3</string>
</dict>
</plist>